<ng-container *ngIf="(score > 0 || isReadonly == false)">
    <div>
        <rating [max]="10" [(ngModel)]="score" [readonly]="isReadonly" [customTemplate]="tt"></rating>
        <ng-template #tt let-i="index" let-v="value">
          <button *ngIf="isReadonly" class="btn btn-{{i < v ? 'warning' : 'default'}}">
            {{i < v ? '&#9733;' : '&#9734;'}}
          </button>
          <button *ngIf="!isReadonly" (click)="setScore(i + 1)" class="btn btn-{{i < v ? 'warning' : 'default'}}">
            {{i < v ? '&#9733;' : '&#9734;'}}
          </button>

        </ng-template>
      </div>
</ng-container>
