<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="reviewForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Rating</label>
                        <app-rating [score]="review.score" (emitOutput)="setScore($event)" [isReadonly]="false"></app-rating>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <app-text-input [label]="'Description'" formControlName="description"></app-text-input>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #closeButton data-bs-dismiss="modal">Close</button>
                <button [disabled]="!reviewForm.valid" (click)="editReview()" type="button"
                    class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>