<div *ngFor="let review of reviews; let i = index" class="card-body p-4">
    <ng-container *ngIf="i == 0">
        <h4 class="mb-0">Recent comments</h4>
        <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
    </ng-container>
    <div class="d-flex flex-start">
        <img class="rounded-circle shadow-1-strong me-3"
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60" height="60" />
        <div>
            <h6 class="fw-bold mb-0">{{review.author}}</h6>
            <span *ngIf="review.isVerified"><i class="fa fa-check-circle fa-1x" style="color: green;"></i>Confirmed order</span>
            <span *ngIf="!review.isVerified"><i class="fa fa-times-circle fa-1x" style="color: red;"></i>Not confirmed</span>
            <span style="display: block;">Rating: {{review.score}}/10</span>
            <app-rating class="app-rating" [isReadonly]="true" [score]="review.score"></app-rating>
            <br>
            <div class="d-flex align-items-center mb-3">
                <p class="mb-0">
                    {{ review.createdOn.toString() | elapsedTime }}
                    <span class="me-2" data-bs-toggle="modal" [attr.data-bs-target]="'#editModal' + review.id" style="cursor: pointer;">
                        <i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i>
                    </span> 
                    <app-edit-review (onReviewEdit)="onReviewEdit($event)" [review]="review"></app-edit-review>
                    <span (click)="deleteReview(review.id)" style="cursor: pointer;">
                        <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                    </span>

                </p>
            </div>
            <p class="me-2">{{review.description}}</p>
        </div>
    </div>
</div>