<ng-container *ngIf="(accountService.currentUser$ | async) as user">
    <div class="container">
        <div class="row" *ngIf="product">
            <div class="col-6">
                <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="w-100">
            </div>
            <div class="col-6 mt-5">
                <h2>{{product.name}}</h2>
                <p class="card-block card-header" style="margin:10px 0;">
                    <b><i>Average rating:</i> {{product.averageScore}}</b>
                  </p>
                <app-rating [isReadonly]="true" [score]="product.averageScore"></app-rating>
                <p style="font-size: 2em;">{{product.price | currency}}</p>
                <h5 class="text-primary mb-3" *ngIf="quantityInBasket > 0">
                    You have {{quantityInBasket}} of this item in your basket
                </h5>
                <div class="d-flex justify-content-start align-items-center">
                    <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning me-2" style="cursor: pointer; font-size: 2em;"></i>
                    <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
                    <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning ms-2" style="cursor: pointer; font-size: 2em;"></i>
                    <button class="btn btn-outline-primary ms-4" (click)="updateBasket()" [disabled]="quantity === quantityInBasket">{{buttonText}}</button>
                    <button *ngIf="user.role == 'Admin'" routerLink="/shop/edit/{{product.id}}" class="btn btn-outline-primary ms-2">Edit</button>
                    <button *ngIf="user.role == 'Admin'" (click)="deleteItem(product.id)" class="btn btn-outline-primary ms-2">Delete</button>
                    <button type="button" class="btn btn-outline-primary ms-2" data-bs-toggle="modal" data-bs-target="#reviewModal">Add Review</button>
                </div>
                <div class="row mt-4">
                    <h4>Description</h4>
                    <p>{{product.description}}</p>
                </div>
            </div>
            <app-add-review [product]="product"></app-add-review>
        </div>
    </div>

    <section style="background-color: #ad655f;">
        <div class="container my-5 py-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
              <div class="card text-dark">
                <div class="card-body p-4">
                  <h4 class="mb-0">Recent comments</h4>
                  <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
      
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                      height="60" />
                    <div>
                      <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                      <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                          March 07, 2021
                          <span class="badge bg-primary">Pending</span>
                        </p>
                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                        <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                        <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                      </div>
                      <p class="mb-0">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s, when an unknown printer took a galley of type and
                        scrambled it.
                      </p>
                    </div>
                  </div>
                </div>
      
                <hr class="my-0" />
      
                <div class="card-body p-4">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="60"
                      height="60" />
                    <div>
                      <h6 class="fw-bold mb-1">Lara Stewart</h6>
                      <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                          March 15, 2021
                          <span class="badge bg-success">Approved</span>
                        </p>
                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                        <a href="#!" class="text-success"><i class="fas fa-redo-alt ms-2"></i></a>
                        <a href="#!" class="link-danger"><i class="fas fa-heart ms-2"></i></a>
                      </div>
                      <p class="mb-0">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It
                        has roots in a piece of classical Latin literature from 45 BC, making it
                        over 2000 years old. Richard McClintock, a Latin professor at
                        Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin words, consectetur, from a Lorem Ipsum passage, and going through
                        the cites.
                      </p>
                    </div>
                  </div>
                </div>
      
                <hr class="my-0" style="height: 1px;" />
      
                <div class="card-body p-4">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="60"
                      height="60" />
                    <div>
                      <h6 class="fw-bold mb-1">Alexa Bennett</h6>
                      <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                          March 24, 2021
                          <span class="badge bg-danger">Rejected</span>
                        </p>
                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                        <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                        <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                      </div>
                      <p class="mb-0">
                        There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or
                        randomised words which don't look even slightly believable. If you are
                        going to use a passage of Lorem Ipsum, you need to be sure.
                      </p>
                    </div>
                  </div>
                </div>
      
                <hr class="my-0" />
      
                <div class="card-body p-4">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(24).webp" alt="avatar" width="60"
                      height="60" />
                    <div>
                      <h6 class="fw-bold mb-1">Betty Walker</h6>
                      <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                          March 30, 2021
                          <span class="badge bg-primary">Pending</span>
                        </p>
                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                        <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                        <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                      </div>
                      <p class="mb-0">
                        It uses a dictionary of over 200 Latin words, combined with a handful of
                        model sentence structures, to generate Lorem Ipsum which looks
                        reasonable. The generated Lorem Ipsum is therefore always free from
                        repetition, injected humour, or non-characteristic words etc.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</ng-container>

